.main {
  margin: 362px 0 0 65px;
}

.main_head {
  display: flex;
}

.main_head-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: left;
}

.main_body {
  font-size: 110px;
  font-weight: 400;
  line-height: 92px;
  letter-spacing: -7%;
  text-align: left;
  color: white;
}

.main_button {
  border-radius: 10px;
  background: rgb(0 0 0 / 1);
  color: rgb(255 255 255 / 1);
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  padding: 20px 50px;
  margin-top: 74px;
}
